input:focus {
    color: black;
    outline: none;
}
input {
    color: black;
    background-color: #cceeff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}

input::placeholder {
    color: black;
}

input:focus::placeholder {
    color: black;
}


